:root { 
  --black: #000000;
  --blue-violet: #5b58c5;
  --cloud: #c6c6c6;
  --cornflower-blue: #7090e3;
  --haiti: #161535;
  --haiti-2: #1615354f;
  --indigo: #5281c7;
  --mountain-mist: #949494;
  --port-gore: #232152;
  --port-gore-2: #222151;
  --port-gore-3: #232152b2;
  --sapphire: #344a99;
  --scampi: #615ea6b5;
  --white: #ffffff;
 
  --font-size-l: 30px;
  --font-size-m: 25px;
  --font-size-s: 22px;
  --font-size-xl: 36px;
  --font-size-xs: 20px;
  --font-size-xxs: 18px;
  --font-size-xxxs: 15px;
 
  --font-family-outfit: "Outfit", Helvetica;
}
.outfit-semi-bold-white-25px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.outfit-semi-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.outfit-normal-cloud-20px {
  color: var(--cloud);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.outfit-semi-bold-white-35px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}

.outfit-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}

.outfit-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.outfit-semi-bold-white-80px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
}

.outfit-semi-bold-white-40px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}

.outfit-semi-bold-white-19px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
}

.outfit-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.outfit-semi-bold-white-72px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
}

.outfit-semi-bold-white-15px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 600;
}

.outfit-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.outfit-light-cloud-22px {
  color: var(--cloud);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.outfit-normal-white-17px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.outfit-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.outfit-semi-bold-white-60px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
}

.outfit-normal-white-25px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.outfit-extra-bold-white-40px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
}

.outfit-semi-bold-white-48px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
}

.outfit-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-outfit);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
